i# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache

# Celery
celerybeat-schedule
celerybeat.pid

# Environment variables
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db

# Project specific
dump.rdb
files/
static/admin/
static/rest_framework/